<div class="header">
  <!-- Botão de menu (visível apenas em mobile) -->
  <button class="menu-button" (click)="toggleMenu()">
    <img src="/assets/images/hamburguer.png" alt="Menu"/>
  </button>

  <!-- Menu de opções (visível em desktop) -->
  <div class="header-options">
    <a routerLink="/store/all">loja</a>
    <a routerLink="/faq">faq</a>
    <a routerLink="/popups">mercados</a>
  </div>

  <!-- Logo central -->
  <p routerLink="/home">da arte.</p>

  <!-- Ícones do lado direito -->
  <div class="header-images">
    <img src="/assets/images/glass.png" alt="Icon 1"/>
    <img routerLink="/user" src="/assets/images/user.png" alt="Icon 2"/>
    <img routerLink="/cart" src="/assets/images/cart.png" alt="Icon 3"/>
  </div>

  <!-- Menu flutuante (visível apenas em mobile) -->
  <div class="floating-menu" [class.active]="isMenuOpen">
    <a routerLink="/store/all" (click)="toggleMenu()">loja</a>
    <a routerLink="/faq" (click)="toggleMenu()">faq</a>
    <a routerLink="/popups" (click)="toggleMenu()">mercados</a>
  </div>
</div>
