/* Header */
.header {
  top: 0; /* Sempre no topo da viewport */
  height: 80px; /* Altura do header */
  display: flex; /* Usa Flexbox para organizar os elementos */
  align-items: center; /* Alinha verticalmente os itens no centro */
  background-color: transparent; /* Transparente inicialmente */
  transition: background-color 0.5s ease; /* Suaviza a transição de cor */
}

.header:hover {
  background-color: #885740; /* Cor ao passar o mouse */
}

.header p {
  position: absolute; /* Centraliza independente do flexbox */
  left: 50%; /* Move o centro horizontal */
  transform: translateX(-50%); /* Garante alinhamento central */
  margin: 0; /* Remove margens padrão */
  font-family: "Yeseva One", sans-serif;
  font-size: 31px; /* Ajuste o tamanho da fonte */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  cursor: pointer;
  letter-spacing: -1.5px;
}

.header-images {
  margin-left: auto; /* Empurra o container de imagens para a direita */
  margin-right: 3%; /* Espaçamento à direita */
  display: flex; /* Organiza as imagens em linha */
  gap: 20px; /* Espaçamento entre as imagens */
}

.header-options {
  margin-right: auto; /* Empurra o container de imagens para a direita */
  margin-left: 3%; /* Espaçamento à direita */
  display: flex; /* Organiza as imagens em linha */
  gap: 20px; /* Espaçamento entre as imagens */
}

.header-images img {
  width: 20px; /* Tamanho das imagens */
  height: auto; /* Mantém a proporção */
  cursor: pointer; /* Indica interatividade */
  transition: transform 0.2s ease; /* Efeito suave no hover */
}

.header-images img:hover {
  transform: scale(1.1); /* Leve zoom ao passar o mouse */
}

.header-options a {
  font-family: Montserrat, sans-serif; /* Fonte do texto */
  font-size: 14px;
  width: 20px; /* Tamanho das imagens */
  height: auto; /* Mantém a proporção */
  cursor: pointer; /* Indica interatividade */
  transition: transform 0.2s ease; /* Efeito suave no hover */
  text-decoration: none;
  color: white;
}

.header-options a:hover {
  text-decoration: underline;
}
