<div class="header">
      <p>Da arte</p>
      <div class="header-images">
        <img src="/assets/images/glass.png" alt="Icon 1" />
        <img routerLink="/user" src="/assets/images/user.png" alt="Icon 2" />
        <img routerLink="/cart" src="/assets/images/cart.png" alt="Icon 3" />
      </div>
</div>

<!--
<header>
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/daarte_logo-transp_500x500.png" alt="Logo da Loja">
    </a>
  </div>

  <ul id="nav">
    <li><a routerLink="/ilustrations">Ilustrações</a></li>
    <li class="dropdown">
      <a href="#">Crochet</a>
      <div class="dropdown-content">
        <a routerLink="/crochet-option1">Opção 1</a>
        <br>
        <a routerLink="/crochet-option2">Opção 2</a>
        -->
        <!-- Adicione mais opções conforme necessário -->
<!--
      </div>
    </li>
    <li class="dropdown">
      <a href="#">Acessórios</a>
      <div class="dropdown-content">
        <a routerLink="/accessories-option1">Opção 1</a>
        <br>
        <a routerLink="/accessories-option2">Opção 2</a>
        -->
        <!-- Adicione mais opções conforme necessário -->
<!--
      </div>
    </li>
  </ul>

  <div class="right">
    <a routerLink="/cart">
      <img src="assets/images/cart.png" alt="Cart image">
    </a>
    <a routerLink="/user">
      <img src="assets/images/user.png" alt="User image">
    </a>
  </div>

</header>
-->

