.image-slider {
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.image-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.image-selector .image-number,
.image-selector .arrow {
  margin: 0 10px;
  cursor: pointer;
}

.image-selector .image-number.active {
  font-weight: bold;
  font-size: 20px;
  color: #885740;
}

.image-selector .page-number:hover,
.image-selector .arrow:hover {
  font-weight: bold;
}

.image-selector .arrow {
  font-size: 30px;
}
