div .top-bar{
  position: fixed; /* Fixa no topo da página */
  top: 0;
  z-index: 1100; /* Fica acima do header */
  width: 100%;
}

.header {
  position: fixed;
  z-index: 1000; /* Fica acima do header */
  width: 100%;
}


.header.scrolled {
  top: 0;
}

